body {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    overflow-y: scroll;
    color: white;
  }

  p {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;

  
	color: #FFF;
	font-family: Gentona;
	font-size: 25px;
	font-weight: 700;
	line-height: normal;
  }

  .header h2 {
    text-align: center;
  }

  /* add this to github*/
  body::-webkit-scrollbar {
    display: none;
  }



  h1 {
	text-align: center;
	margin: auto;
  
	color: #FFF;
	font-family: Gentona;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
  }
  
  
  #section1 {
	height: 1000px;
  }
  #section2 {
	height: 1000px;
  }
  #section3 {
	/* padding-top: 100px; */
	height: 1000px;
  }
  #section4 {
	height: 1000px;
  }
  #section5 {
	height: 1000px;
  }
  #section6 {
	height: 1000px;
  }
  #section7 {
	height: 1000px;
  }
  