.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
  
.slider {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
}
  
.slide {
    flex: 0 0 100%;
    height: 100%;
}
  
.slide.active {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.arrow-wwo {
    cursor: pointer;
    margin: 0;
    position: absolute;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
}

.prev {
    left: 25px;
}

.next {
    right: 25px;
}

.arrow-size {
    height: 30px;
}

/* CS is not being displayed
.client-services {
    background-color: #FFB23E;
    position: relative;
    width: 100%;
    height: 100%;

    h1 {
        font-family: Gentona;
        font-size: 80px;
    }

    background-image: 
    linear-gradient(to right, rgba(255,0,0,0) 88%, #FE7B4B);
    /*linear-gradient(to left, rgba(255,0,0,0) 88%, #8B6122);
}
*/

.production {
    background-color: #FFB23E;
    position: relative;
    width: 100%;
    height: 100%;

    h1 {
        font-family: Gentona;
        font-size: 80px;
    }

    background-image: 
    linear-gradient(to right, rgba(255,0,0,0) 88%, #FE7B4B);
    /*linear-gradient(to left, rgba(255,0,0,0) 88%, #8B6122);*/
}

.research {
    background-color: #FE4D55;
    position: relative;
    width: 100%;
    height: 100%;

    h1 {
        font-family: Gentona;
        font-size: 80px;
    }

    background-image: 
    linear-gradient(to right, rgba(255,0,0,0) 88%, #D178B1),
    linear-gradient(to left, rgba(255,0,0,0) 88%, #FE7B4B);
}

.creative {
    background-color: #AB9BFD;
    position: relative;
    width: 100%;
    height: 100%;

    h1 {
        font-family: Gentona;
        font-size: 80px;
    }

    background-image: 
    linear-gradient(to right, rgba(255,0,0,0) 88%, #8356EC),
    linear-gradient(to left, rgba(255,0,0,0) 88%, #D178B1);
}

.developer {
    background-color: #5303D8;
    position: relative;
    width: 100%;
    height: 100%;

    h1 {
        font-family: Gentona;
        font-size: 80px;
    }

    background-image: 
    linear-gradient(to right, rgba(255,0,0,0) 88%, #350289),
    linear-gradient(to left, rgba(255,0,0,0) 88%, #8356EC);
}

.media {
    background-color: #000000;
    position: relative;
    width: 100%;
    height: 100%;

    p {
        padding: 1em;
    }

    h1 {
        font-family: Gentona;
        font-size: 80px;
    }

    background-image: 
    linear-gradient(to left, rgba(255,0,0,0) 88%, #350289);
    /*linear-gradient(to right, rgba(255,0,0,0) 88%, #8B6122)*/
}

/* added z-index so that "What We Offer" could stay fixed over each slide */ 
.section-title {
    position: absolute;
    top: 50px;
    left: 80px;
    font-size: 2.5rem;
    font-family: Gentona;
    z-index:9;
}

.centered {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    h1 {
        font-size: 5rem;
    }
}

.roles {

    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;

    p {
        width: 100%;

        span {
            margin: auto 15px;
        }
    }

    font-family: Gentona Book;
}


.tag-container {
    display: flex;
}

.tag {
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: Gentona;
}


.button {
    border-radius: 0px;
}
