.banner-class {
  padding: 0;
  margin: 0;
  z-index: 0;
}

.slider-b {
  height: 50%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 70vw;
  max-width: 1140px;

}

.slider-b::before,
.slider-b::after {
  background: linear-gradient(to right, #000 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider-b::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider-b::before {
  left: 0;
  top: 0;
}

.slider-b .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 500%;
}

/*.slider .slide-track:hover {
  animation-play-state: paused;
}*/

.slider-b .slide-b {
  height: 50%;
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
