body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: auto;

  color: #FFF;
  font-family: Gentona;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu {
  position: fixed;
  top: 0;
  right: 0px;
}

.menu ul {
  list-style-type: none;
  text-align: right;
  padding: 0;
  margin: 0;
  right: 0px;
  background-image: linear-gradient(#FFB23E 2.08%, #FE4D55 50%, #AB9BFD 97.92%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.menu li {
  padding: 40px;
  font-size: 12px;
  transition: font-size 0.3s;
}

.menu a:link{
  text-decoration: none;
}
.menu a:visited{

  text-decoration: none;
}
.menu a:hover{
  text-decoration: none;
}

.menu li.active{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

#section1 {
  height: 1000px;
  background-color: black;
}
#section2 {
  height: 1000px;
  background-color: black;
}
#section3 {
  /* padding-top: 100px; */
  height: 1000px;
  background-color: black;
}
#section4 {
  height: 1000px;
  background-color: black;
}
#section5 {
  height: 1000px;
  background-color: black;
}
#section6 {
  height: 1000px;
  background-color: black;
}
#section7 {
  height: 1000px;
  background-color: black;
}
